@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
	background-color: #0e0e0e;
}

/* CSS for header */
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Assets/Photos/futuristic-bg.png);
	background-position: top;
	color: #fff;
}

/* CSS for nav bar */
.navbar {
	display: flex;
	flex-direction: row;
	padding: 50px 160px;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.nav-list {
	margin-right: 200px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-list li {
	margin: 0 20px;
	color: #e8e7e7;
}

.btn-signin {
	color: #eef6ff;
	background: transparent;
	padding: 15px 35px;
	font-size: 14px;
	border: none;
}

.btn-signup {
	color: #eef6ff;
	background-color: #f4694c;
	padding: 15px 35px;
	font-size: 14px;
	font-weight: 600;
}

/* CSS for hero section */
.hero-section {
	position: relative;
	padding-left: 160px;
	padding-top: 180px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: row;
}

.text-section {
	width: 35vw;
}

.heading {
	font-size: 50px;
	font-weight: 700;
}

#head-para {
	color: #959494;
	font-size: 15.5px;
	font-weight: 400;
	padding: 30px 0 50px 0;
	width: 30vw;
	line-height: 30px;
}

.get-started {
	color: #eef6ff;
	background-color: #f4694c;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
}

.learn-more {
	color: #eef6ff;
	background: transparent;
	border: 1px solid #fff;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 500;
	margin-left: 30px;
}

.play-btn img {
	position: absolute;
	top: 250px;
	right: 410px;
}

.play-text {
	display: flex;
	position: absolute;
	top: 520px;
	right: 200px;
	font-size: 25px;
	margin-left: 60px;
}

.play-text img {
	margin-right: 10px;
	margin-left: 10px;
}

.play-text img[alt="dash"] {
	margin-bottom: 60px;
}

.play-text img[alt="arrow"] {
	margin-top: 80px;
	margin-left: 50px;
}

/* CSS for popular games section */
.popular {
	background-color: #fff;
	padding: 160px 160px 120px 160px;
}

.popular h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	padding-bottom: 70px;
}

.all-game-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.game-cards {
	width: 25%;
	position: relative;
}

.game-cards img[alt="game-image"] {
	width: 16vw;
	height: 35vh;
}

.game-rating {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom: 5px;
	width: 87.15%;
	backdrop-filter: blur(8px);
	padding: 10px 0;
	color: #fff;
	line-height: 25px;
}

.btn-download {
	background-color: #f4694c;
	color: #fff;
	border: none;
	padding: 10px 15px;
}

/* CSS for war game section */
.war-game {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 70px 160px;
}

.war-game img {
	width: 60%;
	clip-path: polygon(16% 0, 85% 0, 85% 100%, 16% 100%);
	margin-left: -120px;
}

.war-game h1 {
	font-size: 40px;
	padding-bottom: 30px;
}

.war-game p {
	font-size: 14px;
	color: #898989;
}

.war-game button {
	margin: 40px 0;
	margin-right: 20px;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 500;
}

.btn-explore {
	color: #fff;
	background-color: #f4694c;
	border: none;
}

.btn-learn-more2 {
	color: #f4694c;
	border: none;
	background: transparent;
	border: 1px solid #f4694c;
}

/* CSS for recommended games section */
.recommended-games {
	background-color: #fff;
	padding: 120px 160px;
}

.recom-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}

.recom-text h1 {
	font-size: 40px;
	font-weight: 700;
}

.arrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.arrow-left {
	padding: 20px 20px;
	background-color: #fde1db;
}

.right-arrow {
	padding: 20px 20px;
	background-color: #f4694c;
	margin-left: 20px;
}

.recom-all-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.recommended-games-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 90px;
}

.recommended-games-card img {
	width: 40%;
}

.cards-text {
	margin-left: 30px;
}

.cards-text h1 {
	font-size: 27px;
}

.cards-text h3 {
	color: #f4684a;
	margin: 20px 0;
	font-size: 16px;
}

.cards-text p {
	color: #7c7c7c;
	font-size: 15px;
}

.download-btn {
	color: #fff;
	background-color: #f4694c;
	margin-top: 30px;
	padding: 18px 40px;
	font-size: 16px;
	border: none;
}

/* CSS for game of the year section */
.game-of-year {
	background-color: #000308;
	padding: 120px 160px;
}

.game-of-year h1 {
	color: #fff;
	font-size: 45px;
	text-align: center;
}

.game-images img[alt="hell"] {
	margin-top: 4%;
	width: 33%;
	z-index: 1;
}

.game-images p {
	color: #707175;
	font-size: 15px;
	margin-left: 38%;
	margin-top: -33%;
	margin-bottom: 3%;
}

.game-images img[alt="game-world"] {
	margin-left: 32%;
	width: 80.5%;
}

.game-images img[alt="devil"] {
	width: 25%;
	margin-left: 38%;
	margin-top: -3%;
}

.game-images img[alt="cyborg"] {
	width: 24%;
	margin-left: 4%;
}

/* CSS for gamer section */
.gamer-section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Assets/Photos/Rectangle\ 606.png);
	background-size: cover;
}

.gamer-text {
	text-align: center;
	padding: 120px 0;
}

.gamer-text h1 {
	color: #fff;
	font-size: 40px;
}

.gamer-text p {
	color: #7a7c78;
	font-size: 15px;
	margin: 30px 0;
}

.gamer-btn {
	font-weight: 00;
	border: none;
	margin-top: 20px;
}

/* CSS for footer section */
footer {
	background-color: #000309;
	padding: 70px 160px;
	color: #7d7e81;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer p {
	font-size: 15px;
	line-height: 30px;
}

footer li {
	list-style-type: none;
	padding: 10px 0;
}

.li-head {
	padding-bottom: 20px;
	color: #ffffff;
	font-weight: 600;
}

.social-icons {
	padding-top: 10px;
}

.social-icons img {
	padding-right: 15px;
}
